body {
    margin: 0 10%;
    background: rgb(231, 206, 249);
    font-family: Arial, Helvetica, sans-serif
  }

/* Justify text on both sides */
p {
    text-align: justify;
  }

  img {
    display: block;
    margin: auto;
    width: 70%;
}
