<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} :: {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}static/assets/style.css">
</head>
<body>