<nav>
    <ul>
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}about">About</a></li>
        <li><a href="{{ .Site.BaseURL }}final-project">Final Project</a></li>
        {{ with .Site.GetPage "/assignments" }}
            <li>Assignments
                <ul>
                    {{ range .Pages }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </li>
        {{end}}
    </ul>
</nav>
