{{partial "head.html" . }}

    {{ partial "nav.html" . }}

    <h1>{{ .Title }}</h1>
        
    {{ .Content }}

    <p>This is the layout for homepage only</p>

    {{ partial "footer.html" . }}
{{ partial "foot.html" . }}